@import "~assets/styles/variable";
@import "~assets/styles/mixins";

.form-check-input {
  cursor: pointer;
  &:focus {
    border-color: map-get($colors, "green1");
    @include box-shadow(0, 0, 0, 0.25rem, map-get($colors, "green3"));
  }
  &:checked {
    background-color: map-get($colors, "green1");
    border-color: map-get($colors, "green1");
    background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill='%233fae29'/%3E%3C/svg%3E/></svg>");
  }
}
